<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon App</title>
</head>
<body>
    <h1>Liste de Pokémons</h1>
    <div>
        <input #input (keyup.enter)="selectOnePokemon(input.value)" type="number">
        <p *ngIf="!pokemonSelected; else elseBlock">Aucun Pokémon sélectionné.</p>
        <ng-template #elseBlock><p>{{pokemonSelected?.name}}</p></ng-template>
        <br>
        <div *ngFor="let pokemon of pokemonList">
            <div class="row">
                <div class="col s12 m6 lime darken-4">
                    <div class="card    z-depth-5">
                        <div class="card-content white-text">
                            <span class="card-title lime darken-4">{{pokemon.name}}</span>
                            <img src="{{pokemon.picture}}" alt="">
                        </div>
                        <div class="card-action">
                            <a href="#" class="btn-floating btn-large pulse">👍</a>
                            <a href="#" class="btn-floating btn-large red pulse">👎</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>